.inner{margin:0 20px;}
.d-fx{display: flex; justify-content: space-between;}

/* header */
.header{padding:30px 0;}

.search{width: 100%;}
.inp_bx{width: 80%; margin:0 auto; border:1px solid #ddd; border-radius: 50px; padding:0 20px;}
.inp_bx input{border:none; width: 80%;padding:15px 0;}

/* 카테고리 list */
.ctg_bx{border-top:1px solid #ccc;padding:20px 0;}
.ctg{display:flex;}
.ctg p{width: initial !important;}
.ctg p a{padding-right:20px; color:#aaa; font-weight: 300;}
.ctg .active a{color:#333; font-weight:500;}

/* 메인 슬라이드 (추천) */
.msv_bx{background:#333;padding: 50px 20px; }
.msv_bx .swiper-wrapper{}
.msv_bx .msv{width: calc(20% - 10px); margin-right:10px; height:300px; background:#ddd;}

/* cont1 (인기) */
.cont_bx{padding:50px 0;}

.tit_bx{}
.tit_bx h2{font-size:25px; font-weight: 600;}
.tit_bx h2 span{color:#DE5C00;}

.cont{margin-top:20px;}
.popup{width: calc(20% - 10px); }
.pop_img{position: relative; height: 300px; background:#aaa; border-radius: 10px;}
.pop_img .img{width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;}
.pop_img .dday{position:absolute;top: 10px;right: 10px;padding: 5px 14px;background: #ffe9d9;border-radius: 20px; color:#DE5C00; font-weight: 500;}
.txt_bx{margin-top:10px;}
.txt_bx p{margin-top:5px; font-size:15px;}
.txt_bx .name{font-size: 17px; font-weight:500;}

/* 지역별 */
.loc_tit h2{text-align: center;}
.loctg_bx{display: flex; justify-content: center;margin-top: 15px;}
.btn_bx{background: #eee;margin-right: 15px;width: 100px;border-radius: 50px;text-align: center;border:none; font-size: 17px;padding: 8px 0; cursor: pointer;border-radius: 50px; }
.btn_bx.active{background:#DE5C00; color:#fff;}

.loc_pop .pop_img{height: 225px;}

/* footer */
.footer_bx{border-top:1px solid #ccc; padding:50px 0;}

.footer_bx .d-fx{flex-wrap: wrap;}
.link{justify-content: flex-start;}
.link p{margin-right:10px; font-weight: 500;}

.sns{width: 150px;}
.sns a{width: 100%;}
.sns a img{width: 100%;}

.f_txt{justify-content: flex-start; margin-top:30px;}
.f_txt p{margin-right:10px; padding:0 10px 0 0; position: relative;}
.f_txt p:after{content:""; clear:both; display: block; width: 1px; height: 18px; position: absolute; top: 0px;right:0; border-left:1px solid #aaa;}
.f_txt p:last-child:after{border:none;}
.copy{margin-top:10px;}


@media screen and (min-width: 768px){
}
@media screen and (min-width: 1024px){
    .inner{max-width: 1300px; margin:0 auto;}
}
@media screen and (min-width: 1300px){
}